rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /attendanceRecords/{recordId} {
      allow read, write: if true;
    }
    match /accounts/{username} {
      allow read, write: if true;
    }
  }
}
